@import url('https://fonts.googleapis.com/css2?family=Sassy+Frass&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: none;
    font-family: 'Sassy Frass', cursive;
}

body {
    width: 100vw;
    background-image: url("../img/background.jpg");
    background-size: cover;
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding: 4em;
    flex-direction: column;
}

main section {
    color: rgb(255, 242, 217);
    display: flex;
    flex-direction: row;
}

.relogio {
    font-size: 7em;
}

.semana {
    color: rgb(255, 242, 217);
    font-size: 4em;
    width: fit-content;
}
